$(".attend_notice").fadeOut();
$("#attend").before('<div class="attend_notice">You are now attending this event!</div>');
<% if !@no_change%>
$(".maybe_notice").fadeOut();
$("#attendees_count").html("<%= pluralize(@event.attendings.count, 'Person') %> Attending");
$("#attendees_list").html('<% @event.attendings.each do |attending| %><li><%= link_to User.find(attending.user_id).name, User.find(attending.user_id) %> <div id="status"><%= attending.status %></div></li><% end %>');
<% end %>