#commentform
{
	text-align: center;
}
#comments
{
	text-align: center;
}
#eventshow
{
	margin-left: 400px;
	border: 2px solid;
	border-color: black;
	margin-top: 70px;
	margin-right: 400px;
}
#firstdescrip
{
	margin-top: 100px;
}
#indivevent
{
	float:right;
	border: 
}
#userdetails
{
	border: 2px solid;
	border-color: black;
	margin-bottom: 220px;
	margin-top: 70px;
	float: left;
	margin-left: 40px;
}
#createnewevents
{
	border: 2px solid;
	border-color: black;
	margin-top:50px;
	float:right;
	padding-left: 15px;
	margin-bottom: 81px;
	margin-left: 400px;
	
	
}
h3
{
	text-align: center;
	font-family: trebuchet, sans-serif;
	color: blue;
}
#mainheader
{
	text-align: center;
	font-family: trebuchet, sans-serif;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	
}
.rule
{
	border-bottom: 1px solid;
}

ul#menu 
{
color: #000;
float: right;
margin: 0;
padding: 0.3em 0em;
width: 100%;
text-align: right;
}


ul#menu li {
display: inline;
margin: 0.1em 1em;
position: relative;
text-align: left;
}

ul#menu h2 {
font-size: 100%;
font-weight: normal;
display: inline;
}


ul#menu li a {
color: #000;
text-decoration: none;
padding: 0 0.4em;
}

ul#menu li a:hover {
text-decoration: underline;
}

ul#menu li.mega a {
background: transparent url(arrow.gif) center right no-repeat;
padding: 0 1.2em;
}

ul#menu li.mega a:hover {
text-decoration: underline;
}

ul#menu div {
display: none;
}

ul#menu li.mega div {
border: 1px solid #dda;
position: absolute;
top: 1.6em;
left: 0em;
padding: 1.3em;
background: #000;
}

ul#menu li.hovering div {
display: block;
}

ul#menu li.mega div a {
color: #fff;
padding: 0;
background-image: none;
}
ul#menu li.mega div a:hover {
text-decoration: underline;
}

ul#menu li div a.more {
color: #390;
font-weight: bold;
}

ul#menu div p {
margin: 0 0 0.8em 0;
padding: 0;
}

.eventlisting
{
	border: 2px solid;
	border-color: black;
	float: left;
	width: 300px;
	margin-bottom: 10px;
}
.signup
{
	font-family: trebuchet, sans-serif;
	width: 150px;
	height:50px;
	background-color: green;
	color: #fff;
	float: right;
	margin-top: 70px;
	padding-left: 10px;
}
.signup a
{
	font-family: trebuchet, sans-serif;
	font-size: 2em;
	color: #fff;
	text-decoration: none;
}
.events
{
	list-style: none;
}
textarea
{
	font-family: trebuchet, sans-serif;
}
