html {
	background:url("/images/bg.jpg") repeat;
}
/* flash style */
.success{
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size: 120%;
	font-style: bold;
}
#contact{
	width: 693px;
	color: black;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 340px;
}
#about{
	width: 693px;
	color: black;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 340px;
}
#commentform {
	text-align: center;
	float: right;
	margin-right: 200px;
}
.comment {
	float: right;
	width: 693px;
	/*background-color: #0033FF;*/
	margin-right: 80px;
	
}
#timestamp{
	text-align: right;
}

#firstdescrip {
	margin-top: 100px;
}

#userdetails
{
	border: 2px solid;
	font-family: Helvetica, Arial, sans-serif;
	border-color: black;
	margin-top: 20px;
	float: left;
	margin-left: 20px;
}
#createnewevents {	
	font-family: Helvetica, Arial, sans-serif;
	border: 2px solid;
	border-color: black;
	margin-top:10px;
	float:left;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 81px;
	margin-left: 500px;
}
#header{
	overflow: hidden;
}
#logo
{
padding:0px 0 0 0px;
overflow: hidden;
float: left;
}

/*
 * Navigation
 */
#topright{
	float:right;
	display: inline;

}
#topright a{
	text-decoration: none;
	font-family: "Helvetica", "Arial", "sans-serif";
	color: black;
	font-size: 75%;
}
#categories{
	float: left;
	clear: both;
	list-style-type: none;
	margin-left: 300px;
}
#categories li{
	
	display: inline;
	margin-right: 8px;
}
#categories li a{
	list-style: none;
	text-decoration: none;
	font-family: "Helvetica", "Arial", "sans-serif";
	color: black;
	font-size: 100%;
}
/*
 * ---------------------------------------------
 */

#signup
 {
 width: 400px;
 text-align: center;
 margin: auto;
 margin-bottom: 50px;
 }
 #signup a
 {
 font-family: Helvetica, Arial, sans-serif;
 font-size: 1.2em;
 color: #000000;
 text-decoration: none;
 }
 #introduction{
	width: 693px;
	color: black;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size: 140%;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 340px;
}


textarea {
	font-family: trebuchet, sans-serif;
}
.content{
	display:inline;
	float:right;
}
/*
 * Event listings
 */
#eventshow{
	border: 2px solid;
	font-family: Helvetica, Arial, sans-serif;
	border-color: black;
	margin-top: 20px;
	float: left;
	margin-left: 20px;
}
#recentlymadeevents{
	float: right;
	color: black;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	text-align: center;
	margin-right: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#neweventlink a{
	float: right;
	color: black;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 140%;
	text-align: center;
	margin-right: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.eventphoto{
	float: left;
}
#eventdetails{
	float:left;
	font-family: "Helvetica", "Arial", "sans-serif";
	text-decoration: none;
	color: black;
	margin-left: 10px;
}
.eventlisting{
	float: left;
	width: 1200px;
	text-decoration: none;
	color: black;
	margin-top: 35px;
	margin-left: 400px;
}
.eventlistinguser{
	float: right;
	text-decoration: none;
	margin-right: 200px;
	width: 600px;
	color: black;
}
.cattitle{
	text-align: center;
	font-family: "Helvetica", "Arial", "sans-serif";
	font-size: 140%;
}
/* For the Scroller Roll */

.scroller_roll{
    padding: 0px;
    margin: auto;
    overflow: hidden;
    border:#000000;
    border-width: 10px;
    border-color: #000000
}
.scroller_roll ul{
    padding: 0px;
    margin: 0px;
    float: left;
}
.scroller_roll ul li{
    padding: 0px;
    margin: 0px;
    list-style: none;
    float: left;
    text-align: center;
    display:inline;
}
.scroller_roll ul li a{
    text-decoration: none;
}
.scroller_roll ul li a:hover{
    text-decoration: underline;
}
.scroller_roll ul li a img{
    border: none;
}
