<h1>List of All Users</h1>
<div id="allusers">
	<% @users.each do |user| %>

		<p>Name: <%= user.name %></p>
		<p><%= link_to "View Profile", user %>
			| <%= link_to "delete", user, :method => :delete, :confirm => "You sure?", :title => "Delete #{user.name}" %>
		</p>
	<% end %>
</div>