<div class="span5">
  <div class="event-big thumbnail" id="event-<%= event.id %>">
    <img src="https://graph.facebook.com/<%= event.facebooklink%>/picture?type=large"></img>
    
    <div class="caption"> 
    <h2><%= event.name %></h2>
    <p><!--- ATTENDING DETAILS --></p>
    <p><%= event.description %></p>
    </div>
  </div>
  </div>

