<div id="about">
	<p>Welcome to Events Hub! This is a website dedicated to allowing students to find out what events are happening at Columbia and
		Barnard.  Whether you are an official student group, an administrator, faculty member, or student, feel free to post events
		and view others.  And if you aren't hosting an event, browse through the ones that people have already posted, and who knows,
		maybe you'll find out about something you didn't know was happening! 
		</p>
	<p>After an event is done, people are free to comment and rate it! If you are a student group, this is awesome, because if you 
		throw awesome events everyone will know! (and if you don't....hehehe). </p>
</div>


