<div id="about" class="pages-text">
  <p class="emphasis">About</p>

<p>
Welcome to EventSalsa! This is a website dedicated to allowing students to find out what events are happening at Columbia and Barnard. Whether you are an official student group, an administrator, faculty member, or student, feel free to post events and view others. <br /><br />

EventSalsa gets it's events from it's users. If you sign up through Facebook we directly import Columbia specific public events that you are attending ! Our algorithm makes sure that the events are relevant and categorizes them. We also have tags for events like one for "Free Food." <br /> <br />

The best part about this website is the calendar which gives you a great snapshot of what is happening on campus, click on a date to find out what . To get more details about a specific event just click on it, we will display which of your friends are attending and since we are completely integrated with Facebook you can RSVP directly from our website.<br /> <br /> 

We're happy to work in partnership with the <a class="" href="http://www.columbiaspectator.com" >Columbia Daily Spectator</a> and its blog, <a class="" href="http://www.spectrum.columbiaspectator.com">Spectrum</a>, to best serve the Columbia Community. Together, EventSalsa and Spectator are happy to capture the campus's pulse and provide the best information on student events.  

</p>

</div>
