<div id="about">
	<p>Welcome to EventSalsa! This is a website dedicated to allowing students to find out what events are happening at Columbia and
		Barnard.  Whether you are an official student group, an administrator, faculty member, or student, feel free to post events
		and view others.  The best part about making events is that with the click of the button, you can have
		the event listed on Facebook as well! If you aren't hosting an event, browse through the ones that people have already posted, and who knows,
		maybe you'll find out about something you didn't know was happening! 
		</p>

</div>


