<div id="contact" class="pages-text">
	<p>If you have any questions or would like to get involved, contact Sidharth Shanker at <a href="mailto:sshanker220@gmail.com">sshanker220@gmail.com</a>.  I'm always
		eager to hear ideas from different people and I need help building stuff!</p>
</div>
