<div id="contact" class="pages-text">
	<p class="emphasis">Contact</p>
	<p>If you have any questions or would like to get involved, contact us at <a href="mailto:info@eventsalsa.com">info@eventsalsa.com</a>.  We're always
		eager to hear ideas from different people and find out ways to improve our site!</p>
</div>
