<div id="introduction">
	<%= image_tag("introduction.gif") %>
</div>

<div id="scroller_roll" class="scroller_roll">
<ul>
			  <% @array_of_events.each do |event| %>
					<li><%= link_to(event) do %>
						<%= image_tag event.photo.url(:small), :width => 100, :height => 100 %>
						<% end %></li>

				<% end %>
	
</ul>
<div style="clear: both"></div>
</div>

	