<h1>Contact</h1>
<p>
  If you have any questions or would like to get involved, contact us at info@eventsalsa.com. We're always eager to hear ideas from different people and find out ways to improve our site!
</p>
