<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">EventSalsa</a>
      <a id="fblike" class="pull-left"><fb:like href="https://www.facebook.com/pages/EventSalsa/165333256908690" send="false" width="80" layout="button_count" show_faces="false" action="like" font="" allowTransparency="true"></fb:like></a>
      <form id="search-bar" class="navbar-search">
        <input type="text" name="query" placeholder="Search" />
      </form>

      <ul id="navbar" class="nav pull-right">
        <li>
          <a href="#calendar" data-target="calendar">Calendar</a>
        </li>
        <li>
          <a href="#events" data-target="events">Events</a>
        </li>
        <li>
          <a href="#">Users</a>
        </li>
        <li>
          <a href="#">Profile</a>
        </li>
        <li id="login-button">
        <%% if (EventSalsa.currentUser) { %>
          <a href="/signout">Logout</a>
        <%% } else { %>
          <a href="/auth/facebook">
            <%= image_tag "fb-login.jpg" %>
          </a>
        <%% } %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<div id="wrap">
  <div id="main" class="row">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
      	<li>
          <a id="my-events" href="#attendings/events">My Events</a>
      	</li>
      </ul>
      <div id="category-list">
      </div>

      <div id="spec-image">
        <a href="http://www.columbiaspectator.com/">
          <%= image_tag "spec_logos.png", :width => 150 %>
        </a>
      </div>
      <a id="about">About</a>
      <a id="contact">Contact</a>
    </div>
    <div class="span10">
      <div class="flash">
      </div>

      <div id="content">
      </div>
    </div>
  </div>
</div>
<div id="footer">
</div>
