<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">EventSalsa</a>
      <a id="fblike" class="pull-left"><fb:like href="https://www.facebook.com/pages/EventSalsa/165333256908690" send="false" width="80" layout="button_count" show_faces="false" action="like" font="" allowTransparency="true"></fb:like></a>
      <form id="search-bar" class="navbar-search">
        <input type="text" name="query" placeholder="Search" />
      </form>

      <ul id="navbar" class="nav pull-right">
        <li>
          <a class="coming-soon" rel="tooltip" href="#calendar" data-target="calendar" data-original-title="<%%= Helpers.EJS.comingSoonMessage %>">Calendar</a>
        </li>
        <li>
          <a href="#events" data-target="events">Events</a>
        </li>
        <li>
          <a class="coming-soon" href="#groups" data-target="groups" data-original-title="<%%= Helpers.EJS.comingSoonMessage %>">Groups</a>
        </li>
        <li id="login-button">
        <%% if (EventSalsa.currentUser) { %>
          <a href="/signout">Logout</a>
        <%% } else { %>
          <a href="/auth/facebook">
            <%= image_tag "fb-login.jpg" %>
          </a>
        <%% } %>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<div id="wrap">
  <div id="main" class="row">
    <div class="span2">
      <div id="meta-nav-list" class="well">
        <ul class="nav nav-list">
          <li class="nav-header">All</li>
          <li>
            <a class="all-events" href="#events">Events</a>
          </li>
          <li>
            <a class="coming-soon all-groups" href="#groups" data-original-title="<%%= Helpers.EJS.comingSoonMessage %>">Groups</a>
          </li>
          <%% if (EventSalsa.currentUser) { %>
            <li class="nav-header">Following</li>
            <li>
              <a class="attending-events" href="#users/u/attendings">Events</a>
            </li>
            <li>
              <a class="coming-soon following-groups" href="#users/u/followings" data-original-title="<%%= Helpers.EJS.comingSoonMessage %>">Groups</a>
            </li>
            <li class="nav-header">Managing</li>
            <li>
              <a class="managing-events" href="#users/u/events">Events</a>
            </li>
            <li>
              <a class="coming-soon managing-groups" href="#users/u/groups" data-original-title="<%%= Helpers.EJS.comingSoonMessage %>">Groups</a>
            </li>
          <%% } %>
        </ul>

        <ul class="nav nav-list">
          <li class="divider"></li>
          <li class="nav-header">Tags</li>
        </ul>
        <div id="category-list">
        </div>
      </div>

      <div id="spec-image">
        <a href="http://www.columbiaspectator.com/">
          <%= image_tag "spec_logos.png", :width => 150 %>
        </a>
      </div>
      <a id="about">About</a> | <a id="contact">Contact</a>
    </div>
    <div class="span10">
      <div class="flash">
      </div>

      <div id="content">
      </div>
    </div>
  </div>
</div>
<div id="footer">
</div>
