/* EVENT CONSOLE */

/*
.event-console {
    position: relative;
}

.event-console .btn-group {
    position: absolute;
    bottom: 0;
    padding: 0 0 8px;
}
*/

/* EVENT DETAIL */

td.event-thumb {
  width: 15%
}

td.event-time {
  width: 20%
}

td.event-detail {
  width: 65%
}
