div#content-container {
    width: 90%;
    min-height: 100em;
    margin: 0 auto;
    background: #f8f8ff;
    border-radius: 1em;
    border: 1px black solid;
}

section {
    margin: 0 12em;
}

ul.event-list {
    margin: 1em;
}

li {
    position: relative;
    border-top: 1px #ccc solid;
}

li img {
    float: left;
    margin: 10px;
    max-height: 100px;
    height: 100px;
    width: 100px;
    box-shadow: 5px 5px 10px #333;
}

li img:hover {
    opacity: .8;
}
/*
ul.event-list li .date-time {
    line-height: 120px;
    float: left;
}

ul.event-list li .test {
    position: relative;
}

ul.event-list li .test .event-details {
    position: absolute;
    top: 50%;
    height: 120px;
    margin: 0px 0 0;
}
*/
