aside.sidebar {
  width: 10em;
  padding: 1em;
  position: absolute;
  border-right: 1px #ccc solid;
  form input {
    font-size: 80%;
    width: 80%;
    display: block;
    margin: 0 auto 1em;
    padding: .5em;
    border: 1px red solid;
    border-radius: 2px;

    &:focus {
      box-shadow: 0 0 5px white;
    }
  }
  nav {
    margin: 0 auto;

    a {
      display: block;
      border-top: 1px #ccc solid;
      color: black;
      margin: 0 auto;
      padding: .5em 0;
    }
  }

  div#spec-image {
    text-align: center;
  }
}
