/* HEADER */

div#header-container {
  font-weight: bold;
  height: 3.5em;
  line-height: 3.5em;
  background: -webkit-linear-gradient(top, #555555, #222222); }

header {
  width: 90%;
  margin: 0 auto;
  display: block; }

div#logo {
  font: 300% 'Lovers Quarrel';
  font-weight: bold;
  width: 3em;
  margin: 0 .5em;
  display: inline-block; }

span {
  &.logo-event {
    color: #eee;
    text-shadow: 0px 1px 1px #66f; }
  &.logo-salsa {
    color: #99f;
    text-shadow: 0px 1px 1px white; } }

#fblike {
  line-height: 1em;
  display: inline-block;
  background-color: black; }

header nav {
  float: right;
  display: inline-block;
  a {
    color: #eee;
    padding: 1em;
    border-right: 1px #666 solid;
    &:hover {
      text-shadow: 0 0 1em lightgray; } } }

/* FOOTER */

footer {
  width: 90%;
  margin: 0 auto;
  display: block; }
