<h1>What's happening?</h1>

<ul class="nav nav-tabs">
  <li>
    <a data-toggle="tab" data-target="#upcoming-events">Upcoming Events</a>
  </li>
  <li>
    <a data-toggle="tab" data-target="#recent-events">Recent Events</a>
  </li>
  <li>
    <a data-toggle="tab" data-target="#new-event">New Event</a>
  </li>
</ul>

<div class="tab-content">
  <table id="upcoming-events" class="table tab-pane fade">
  </table>

  <table id="recent-events" class="table tab-pane fade">
  </table>

  <div id="new-event" class="table tab-pane fade">
  </div>
</div>
