<h1>What's happening?</h1>

<nav>
  <a href="/#<%= rootPath %>/upcoming">Future</a>
  <a href="/#<%= rootPath %>/recent">Past</a>
</nav>
<ul class="event-list">
</ul>

<a href="/#events/new">New Event</a>
