<h1>My Calendar</h1>

<div class="btn-group">
  <button class="btn btn-success active">Going</button>
  <button class="btn btn-warning">Maybe</button>
  <button class="btn btn-danger">Not Going</button>
</div>

<div class="calendar">
  <div id="calendar-events">
  </div>
</div>
