<h1>My Calendar</h1>

<div class="btn-group">
  <button class="btn btn-success active">Going</button>
  <button class="btn btn-warning">Maybe</button>
  <button class="btn btn-danger">Not Going</button>
</div>

<div class="row">
  <div class="span7">
    <h1>Calendar</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sun</th>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
          <th>Thu</th>
          <th>Fri</th>
          <th>Sat</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
          <td>5</td>
          <td>6</td>
        </tr>
        <tr>
          <td>7</td>
          <td>8</td>
          <td>9</td>
          <td>10</td>
          <td>11</td>
          <td>12</td>
          <td>13</td>
        </tr>
        <tr>
          <td>14</td>
          <td>15</td>
          <td>16</td>
          <td>17</td>
          <td>18</td>
          <td>19</td>
          <td>20</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span3">
    <h1>Day</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Time</th>
          <th>Events</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan=2>8AM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>9AM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>10AM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>11AM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>12PM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>1PM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>2PM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>3PM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>4PM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>5PM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>6PM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>7PM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td rowspan=2>8PM</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="calendar">
  <div id="calendar-events">
  </div>
</div>
